@model GemeenteEditViewModel
@{ ViewBag.Title = "Maak gemeente"; }

<h1>@ViewBag.Title</h1>
@using (Html.BeginForm("Maak", "Gemeente", FormMethod.Post, new { name = "FormGemeente" }))
{
    @Html.Partial("MaakBewerk", Model)
    <p class="clear"></p>
    <a href="@Url.Action("Index")" class="IconKnop">
        <div class="fa fa-arrow-left"></div>
        @Resources.Terug</a>
    <a href="#" onclick="document.FormGemeente.submit(); return false;" class="IconKnop">
        <div class="fa fa-save"></div>
        @Resources.Aanmaken</a>
 
    <p class="clear"></p>
}