@model PreekLezen
@{ 
    ViewBag.Title = Model.Titel;
    Layout = "~/Areas/Website/Views/Shared/_Popup.cshtml";
}
<style type="text/css" media="print">
    
</style>
@Html.IconActionLink(Resources.Afdrukken, "LeespreekAfdrukken", "Preek", new { }, new { @class = "Knop IconKnop AfdrukkenKnop", onclick = "window.print(); return false;" }, "print")
<div class="LeespreekAfdruk">
    <div class="HeleLeespreek">
        <div class="Thema">@Model.Preek.ThemaOmschrijving</div>
        <div class="Titel">@Model.Preek.GetPreekTitel()</div>
        <div class="Subtitel">@string.Format("{0}", Model.Preek.GebeurtenisId.HasValue ? "(" + Model.Preek.Gebeurtenis.Omschrijving + ")" : string.Empty)</div>
        <table class="HeleLeespreekTable">
            @foreach (var plz in Model.Preek.PreekLezenEnZingens.Where(x => !string.IsNullOrWhiteSpace(x.Omschrijving)).OrderBy(x => x.Sortering))
            { 
                <tr>
                    <td></td>
                    <td class="ColSoort">@plz.Soort :</td>
                    <td class="ColOmschrijving">@plz.Omschrijving</td>
                </tr>
            }
        </table>
        @Html.Raw(Model.Preek.LeesPreekTekst)
    </div>
</div>