@using Prekenweb.Website.Lib.HtmlHelpers
@model PreekToevoegen
@{
    ViewBag.Title = Model.TekstPagina.Kop;
}
@section Styles {

}
<h1>@ViewBag.Title</h1>
@Html.Raw(Model.TekstPagina.Tekst)

@if (Model.Verzonden)
{
    <div class="Goedmelding">In inzending is succesvol verzonden, wij nemen zo spoedig mogelijk contact met u op!</div>
}
else
{
    using (Html.BeginForm())
    {
    <div class="ColumnL">
        <div class="field">
            <div class="label">@Html.LabelFor(m => m.Naam)</div>
            <div class="value">@Html.EditorFor(m => m.Naam)</div>
            <div class="tooltip">@Html.ToolTipFor(m => m.Naam)</div>
            <div class="validator">@Html.ValidationMessageFor(m => m.Naam)</div>
        </div>
        <div class="field">
            <div class="label">@Html.LabelFor(m => m.Email)</div>
            <div class="value">@Html.EditorFor(m => m.Email)</div>
            <div class="tooltip">@Html.ToolTipFor(m => m.Email)</div>
            <div class="validator">@Html.ValidationMessageFor(m => m.Email)</div>
        </div>
        <div class="field">
            <div class="label">@Html.LabelFor(m => m.Telefoon)</div>
            <div class="value">@Html.EditorFor(m => m.Telefoon)</div>
            <div class="tooltip">@Html.ToolTipFor(m => m.Telefoon)</div>
            <div class="validator">@Html.ValidationMessageFor(m => m.Telefoon)</div>
        </div>
    </div>
    <p class="clear"></p>
    <div class="ColumnMax">
        <div class="field">
            <div class="label">@Html.LabelFor(m => m.Tekst)</div>
            <div class="value">@Html.EditorFor(m => m.Tekst)</div>
            <div class="tooltip">@Html.ToolTipFor(m => m.Tekst)</div>
            <div class="validator">@Html.ValidationMessageFor(m => m.Tekst)</div>
        </div>
        <div class="field">
            <div class="label"></div>
            <div class="value">@Html.Captcha("Refresh", "Type bovenstaande afbeelding over", 4, null)</div>
            <div class="validator">@Html.ValidationMessage("CaptchaInputText")</div>
        </div>

    </div>
    <p class="clear"></p>
    <a href="#" onclick="document.forms[0].submit(); return false;" class="IconKnop">
        <div class="fa fa-thumbs-up"></div>
        @Resources.Verstuur</a>
    }
}