@model SpotlightEditViewModel
@{ ViewBag.Title = Resources.NieuweSpotlight; }

<h1>@ViewBag.Title</h1>
@using (Html.BeginForm("Maak", "Spotlight", FormMethod.Post, new { name = "FormSpotlight" }))
{
    @Html.Partial("MaakBewerk", Model)
    @Html.HiddenFor(m => m.Spotlight.TaalId)
    <p class="clear"></p>
    <a href="@Url.Action("Index")" class="IconKnop">
        <div class="fa fa-arrow-left"></div>
        @Resources.Terug</a>
    <a href="#" onclick="document.FormSpotlight.submit(); return false;" class="IconKnop">
        <div class="fa fa-save"></div>
        @Resources.Aanmaken</a>
 
    <p class="clear"></p>
}