<h1>@Resources.Stamgegevens</h1>
<ul>
    @Html.SecuredActionLinkLI(Resources.Predikanten, "Index", "Predikant", new { Area = "Mijn" }, new { }, "Stamgegevens", "user")
    @Html.SecuredActionLinkLI(Resources.Gemeentes, "Index", "Gemeente", new { Area = "Mijn" }, new { }, "Stamgegevens", "group")
    @Html.SecuredActionLinkLI(Resources.Gebeurtenissen, "Index", "Gelegenheid", new { Area = "Mijn" }, new { }, "Stamgegevens", "calendar")
    @Html.SecuredActionLinkLI(Resources.Series, "Index", "Serie", new { Area = "Mijn" }, new { }, "Stamgegevens", "list-ol")
</ul>