@model ExterneLoginBevestigingViewModel
@{
    ViewBag.Title = "Bevestig uw externe login.";
}
<h1>@ViewBag.Title</h1>
<p>Uw Externe login via <strong>@ViewBag.LoginProvider</strong> is bijna afgerond, u moet alleen nog onderstaande gegevens invullen. </p>

@using (Html.BeginForm("ExterneLoginBevestiging", "Gebruiker", FormMethod.Post, new { name = "FormExternalLoginConfirmation" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ReturnUrl)

    <div class="ColumnM">
        <div class="field">
            <div class="label">@Html.LabelFor(m => m.Naam)</div>
            <div class="value">@Html.EditorFor(m => m.Naam)</div>
            <div class="validator">@Html.ValidationMessageFor(m => m.Naam)</div>
        </div>

        <div class="field">
            <div class="label">@Html.LabelFor(m => m.Email)</div>
            <div class="value">@Html.EditorFor(m => m.Email)</div>
            <div class="validator">@Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.Email).ToHtmlString()))</div> 
        </div>
    </div>

    <p class="clear"></p>

    <a href="#" onclick="document.FormExternalLoginConfirmation.submit(); return false;" class="IconKnop">
        <div class="fa fa-save"></div>
        @Resources.Aanmaken
    </a>

    <p class="clear"></p>
}
