@using Prekenweb.Website.Lib.HtmlHelpers
@model PaginaEditViewModel
@{ ViewBag.Title = string.Format("Bewerk pagina '{0}'", Model.Pagina.GetKop(TaalInfoHelper.FromRouteData(Request.RequestContext.RouteData).Id)); }

<h1>@ViewBag.Title</h1>
@using (Html.BeginForm("Bewerk", "Pagina", FormMethod.Post, new { name = "FormPagina" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Pagina.Id)
    @Html.Partial("MaakBewerk", Model)

    <p class="clear"></p>


    <div id="tabs">
        <ul>
            @foreach (var taal in Model.Teksten.Select(t => t.Taal))
            {
                <li><a href="#@taal.Code">
                    <div class="Vlaggetje_@taal.Code.Trim() Vlaggetje"></div>@taal.Omschrijving</a></li>
            }
        </ul>
        @for (int i = 0; i < Model.Teksten.Count; i++)
        {
            @Html.HiddenFor(m => m.Teksten[i].Id)
            @Html.HiddenFor(m => m.Teksten[i].TaalId)
            @Html.HiddenFor(m => m.Teksten[i].PaginaId)
            <div class="PaginaContainer" id ="@Model.Teksten[i].Taal.Code.Trim()">
                <div class="ColumnMax">
                    <div class="field">
                        <div class="label">@Html.LabelFor(m => m.Teksten[i].Kop)</div>
                        <div class="value">@Html.EditorFor(m => m.Teksten[i].Kop)</div>
                        <div class="tooltip">@Html.ToolTipFor(m => m.Teksten[i].Kop)</div>
                        <div class="validator">@Html.ValidationMessageFor(m => m.Teksten[i].Kop)</div>
                    </div>
                    <div class="field">
                        <div class="label">@Html.LabelFor(m => m.Teksten[i].Tekst_)</div>
                        <div class="value">@Html.EditorFor(m => m.Teksten[i].Tekst_)</div>
                        <div class="tooltip">@Html.ToolTipFor(m => m.Teksten[i].Tekst_)</div>
                        <div class="validator">@Html.ValidationMessageFor(m => m.Teksten[i].Tekst_)</div>
                    </div>
                    <p class="clear"></p>
                </div>
            </div>
        }
        <p class="clear"></p>
    </div>
    <p class="clear"></p>

    <a href="@Url.Action("Index")" class="IconKnop">
        <div class="fa fa-arrow-left"></div>
        @Resources.Terug</a>
    <a href="#" onclick="document.FormPagina.submit(); return false;" class="IconKnop">
        <div class="fa fa-save"></div>
        @Resources.Opslaan</a>
    <p class="clear"></p>
}

@section scripts{
    <script type="text/javascript">
        $("#tabs").tabs();
    </script>
}