@model GebeurtenisEditViewModel
@{ ViewBag.Title = string.Format("Bewerk Gebeurtenis {0}", Model.Gebeurtenis.Omschrijving); }

<h1>@ViewBag.Title</h1>
@using (Html.BeginForm("Bewerk", "Gelegenheid", FormMethod.Post, new { name = "FormGebeurtenis" }))
{
    @Html.HiddenFor(m => m.Gebeurtenis.Id)
    @Html.HiddenFor(m => m.Gebeurtenis.OudId)
    @Html.HiddenFor(m => m.Gebeurtenis.TaalId)
    @Html.Partial("MaakBewerk", Model)
    <p class="clear"></p>
    <a href="@Url.Action("Index")" class="IconKnop">
        <div class="fa fa-arrow-left"></div>
        @Resources.Terug</a>
    <a href="#" onclick="document.FormGebeurtenis.submit(); return false;" class="IconKnop">
        <div class="fa fa-save"></div>
        @Resources.Opslaan</a>
 
    <p class="clear"></p>
}