<!DOCTYPE html>
<html lang="@ViewContext.RouteData.Values["culture"]">
<head>
    <link href="@Url.Content("~/Content/Images/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>@ViewBag.Title</title>
    <meta name="description" content="@Resources.PrekenWeb - @ViewBag.Title">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    <!--[if IE 7]>
        <link rel="stylesheet" href="@Url.Content("~/Content/ie7.css")">
    <![endif]-->
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="PopupBody">
    <div id="PopupContainer">
        @RenderBody()
        <div class="clear"></div>
    </div>

    <!--[if !IE]><!-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="@Url.Content("~/")Scripts/jquery-2.0.3.min.js"><\/script>')</script>
    <!--<![endif]-->
    <!--[if IE]>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="@Url.Content("~/")Scripts/jquery-1.10.2.min.js"><\/script>')</script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
    @if (ViewContext.RouteData.DataTokens["area"] == "Mijn" && Request.IsAuthenticated)
    {
        <script src="~/Scripts/ckeditor/ckeditor.js"></script>
        <script type="text/javascript">
            if (document.getElementsByName('LeesPreekTekst').length > 0) CKEDITOR.replace('LeesPreekTekst', { language: '@Request.RequestContext.RouteData.Values["culture"].ToString()' });
            if (document.getElementsByName('InboxItem.Inhoud').length > 0) CKEDITOR.replace('InboxItem.Inhoud', { language: '@Request.RequestContext.RouteData.Values["culture"].ToString()' });
            if (document.getElementsByName('InboxOpvolging.Tekst').length > 0) CKEDITOR.replace('InboxOpvolging.Tekst', { language: '@Request.RequestContext.RouteData.Values["culture"].ToString()' });
            if (document.getElementsByName('Teksten[0].Tekst_').length > 0) CKEDITOR.replace('Teksten[0].Tekst_', { language: '@Request.RequestContext.RouteData.Values["culture"].ToString()' });
            if (document.getElementsByName('Teksten[1].Tekst_').length > 0) CKEDITOR.replace('Teksten[1].Tekst_', { language: '@Request.RequestContext.RouteData.Values["culture"].ToString()' });
        </script>
    }
    <script type="text/javascript">

        prekenweb.rootUrl = '@Url.Content("~")';

        @if (Request.RequestContext.RouteData.Values["culture"] != null)
        {
            @:prekenweb.taal = '@Request.RequestContext.RouteData.Values["culture"].ToString()';
                }

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38278370-2']);
        @RenderSection("GoogleAnalyticsScripts", false)
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
